style
a:link {
    color: brown;
    background-color: blue;
    text-decoration: none;

}
a:visited{
    color:red;
    background-color: darkmagenta;
    text-decoration:  none;        
    
}
a:hover{
    color: darkgreen;
    background-color: fuchsia;
    text-decoration: none;
}
a:active{
    color:pink;
    background-color: olive;
    text-decoration: none;
}

